.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  column-gap: 16px;
}

@media (min-width: 425px) {
  .main ul {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 768px) {
  .main ul {
    grid-template-columns: repeat(3, auto);
  }
}